# ==========================
# Build
# ==========================
bin/
obj/

# ==========================
# Visual Studio
# ==========================
.vs/

# VS Code
.vscode/

# Rider
.idea/

# ==========================
# Logs
# ==========================
Logs/
*.log

# ==========================
# Test
# ==========================
TestResults/

# ==========================
# Publish
# ==========================
publish/

# ==========================
# NuGet
# ==========================
packages/

# ==========================
# User Files
# ==========================
*.user
*.suo

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# MacOS
# ==========================
.DS_Store
# Local helper scripts
generate_rulebook.py